<div class="container">

  <form class="form-horizontal"  id="contact_form">
    <fieldset>
      <!-- Form Name -->
      <legend>Events <a routerLink="createEvent"><p><span class="glyphicon glyphicon-plus"></span>New event</p> </a></legend>
      <div class="container">
        
        <table class="table table-bordered table-striped" *ngIf="events">
          <thead>
            <tr>
              <th>Title</th>
              <th>Host</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody id="myTable" *ngFor="let event of events">
          
            <tr>
              <td><a routerLink="event/{{event['id']}}">{{event["title"]}}</a></td>
              <td>{{event["host"]}}</td>
              <td>{{event["event_date"]}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>


    </fieldset>

   
  </form>
</div>

<router-outlet></router-outlet>

